# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# IDE specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite

# Archivos generados por el programa
historial.txt

# Archivos de sistema
.DS_Store
Thumbs.db